/* MAIN  */

h1 {
    font-size: $titulo-tamano; 
    font-weight: bold;
    text-transform: uppercase;
    color: $color-naranja;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
}

.fraseFinal {
    margin-bottom: $margin-bottom-final;
}