/* MAIN  */

h1 {
    /*mixin:  font-weight: bold; color: $color-naranja; text-transform: uppercase; text-align: center;*/
    @include estilo-titulo-subtitulo;
    font-size: $titulo-tamano;
    margin-top: 90px;
    margin-bottom: 40px;
}

.fraseFinal {
    margin-bottom: $margin-bottom-final;
}