@mixin estilo-titulo-subtitulo {
    font-weight: bold;
    color: $color-naranja;
    text-transform: uppercase;
    text-align: center;
}

@mixin estilo-parrafo-final-home {
    color: $color-naranja;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}