/* NOTICIAS */

.contenedorVideos {
    gap: 20px;
}

.tituloVideo {
    /*mixin:  font-weight: bold; color: $color-naranja; text-transform: uppercase; text-align: center;*/
    @include estilo-titulo-subtitulo;
    font-size: $subtitulo-tamano;
    margin-top: 30px;
    margin-bottom: 20px;
}