
//Colores
$color-naranja: #f0b975;
$color-gris-oscuro: #9796;

//Márgenes
$margin-bottom-final: 50px; 

//Tamaños estandar
$titulo-tamano: 24px; 
$subtitulo-tamano: 20px; 
$titulo-card-tamano: 19px;

//Tamaños mediano 
$titulo-tamano-mediano: 22px;
$subtitulo-tamano-mediano: 18px;
$tamano-fuente-mediano: 17px;

//Tamaño chico
$titulo-tamano-chico: 18px;
$subtitulo-tamano-chico: 16px;
$tamano-fuente-chico: 15px;


//Bordes
$border-radius-imagenes: 10px;