
//Colores
$color-naranja: #f0b975;

//Márgenes
$margin-bottom-final: 50px; 

//Tamaños
$titulo-tamano: 24px; 
$subtitulo-tamano: 20px; 
$titulo-card-tamano: 19px;

//Bordes
$border-radius-imagenes: 10px;